.table {
    border-collapse: collapse;
    border-radius: 10px;
  }
  
  .title {
    border: 1px solid #ddd;
    padding: 8px;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #044caa;
    color: white;
    width: 150px;
    font-weight: 900;
    text-align: center;
  }
  
  .tr:nth-child(even) {
    background-color: #e0e9f9;
  }
  
  .item {
    border: 1px solid #ddd;
    padding: 8px;
  }